<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse - Tickets</title>   
    <link rel="stylesheet" href="../static/style.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header> 
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        <h1>Tickets</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a id="navselected" href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>General</td>
                <td>General admission for all visitors 18 and over. Under 18 free of charge.</td>
                <td>$18</td>
            </tr>
            <tr>
                <td>Student</td>
                <td>Valid student ID required at entry.</td>
                <td>$10</td>
            </tr>
            <tr>
                <td>Member</td>
                <td>Valid member
                 ID required at entry.</td>
                <td>$15</td>
            </tr>
        </table>
    </div>

    <footer>© 2026 MonoMuse. All rights reserved.</footer>
</body>
</html>